# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
env/

# Data files
data/processed/

# Ignore egg-info directories
*.egg-info/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
Desktop.ini

# Log file
app.log

# Database files
*.db
*.sql